extends layout

block content
  .row
    .col-md-4
    .col-md-4
      .panel.panel-primary
        .panel-heading Change Password
        .panel-body
          form(role='form', method='post', action="/admin/account/#{user.id}/update_password")
            .form-group
              label(for='newPassword1') New Password
              input.form-control#newPassword1(type='password', name='password')
            button.btn.btn-primary(type='submit') Update
            a.btn(href="/admin/account/#{user.id}") Cancel
    .col-md-4
