extends layout

block content
  .row.l_left-row
    .col-md-12
      h1 account#index

  .row.l_title-container.s_title-container.l_left-row
    .col-md-12
      p You can edit me in server/templates/account/index.jade
