extends layout

block content
  .row
    .col-md-4
    .col-md-4
      .panel.panel-primary.l_gatekeeper-panel
        .panel-heading Sign Up
        .panel-body
          form(role='form', method='post', action='/signup')
            .form-group
              label(for='username1') Username
              input.form-control#username1(type='text', name='username')
            .form-group
              label(for='password1') Password
              input.form-control#password1(type='password', name='password')
            button.btn.btn-primary.l_gatekeeper-button(type='submit') Sign Up
            a(href='/login') Login
    .col-md-4
